body {
    background-color: white;
    font-family: 'Dancing Script', cursive;
}
.will {
    float: left;
}
p {
    font-size: 30px;
}
.firstpic {
    width: 50%;
}
.school {
    text-align: center;
}
.picschool {
    width: 30%;
}